.blog-single {
}
.container-blog {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;

}
.blog-single__wrapper {
}
.blog-single__info {
}
.blog-single__back {
}

.blog-single__date {
}

.blog-single__title {
}

.blog-single__img {
}
.blog-single__main-text {
}
