.case-buttons {
}
.nav-case {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding-block: 40px;
  border-bottom: 1px solid #d9d9d9;
}
.nav-case__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-font);
  border-radius: 100px;
  height: fit-content;
  padding: 12px 20px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: var(--main-font);
  font-family: "Geologica", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}
.nav-case__item:active,
.nav-case__item.active {
  color: var(--contrast-color);
  border: 1px solid var(--contrast-color);
}
