.contact {


}

.contact__wrapper {
  padding-bottom: clamp(40px, 4vw, 100px);
  border-bottom: 1px solid #d9d9d9;
}
.contact__cards {
  margin-top: clamp(40px, 4vw, 80px);
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(50px, 9vw, 150px);
  row-gap: clamp(40px, 5vw, 80px);

}


.contact__card {
}
.card-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.contacts-texts{
  font-weight: 200;
}
.card-contact__top {
}
.card-contact__num {
  color: var(--main-font);
  font-family: 'Geologica', sans-serif;
  font-size: clamp(28px, 4vw, 64px);
  font-weight: 400;
  line-height: 1.1;

}
.card-contact__description {
  color: var(--fifth-dark-color);
}


.contact-card__img {
  position: absolute;
  right: 0;
  top: 15%;
}



.message {
}
.container {
}
.message__wrapper {
  margin-top: 80px;
}
.message__cards {
  display: flex;
  justify-content: space-between;
}
.message__card {
}
.card-message {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-message__btns {
  display: flex;
}

.card-message__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(43px, 7vw, 100px);
  background-color: #575757;
  border-radius: 50%;
  border: 3px solid var(--main-font);
  svg{
    width: clamp(65px, 7vw, 140px);
    height: clamp(65px, 7vw, 140px);
  }
}
.card-message__btn:nth-child(1){
  position: relative;
  z-index: 2;
  margin-right: -20px;
}
.card-message__btn:nth-child(2){
  position: relative;
  z-index: 1;
  margin-right: -20px;
}


.card-message__title {
}
.green-text {
}
.text {
}
.contacts-texts {
}
.card-message__link {
}

@media (max-width: 1550px) {
  .contact-card__img {
    display: none;
  }
  .contact__cards {
    max-width: 100%;
    justify-content: space-between;

  }

}
@media (max-width: 768px) {
  .message__cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card-message__link{
    display: none;
  }
  .card-message__btn:nth-child(1){
    position: static;
    margin-right: 0px;
  }
  .card-message__btn:nth-child(2){
    position: static;
    margin-right: 0px;
  }
  .card-message__btns{
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .message{
    margin-bottom: 120px;
  }

}

@media (max-width: 660px) {
  .contact__cards {
    flex-direction: column;
    justify-content: center;
  }

}
