
.function {
  margin-top: 230px;
  .function__wrapper {
  }
  .function__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .function__card {
  }
  .f-card {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      padding: 35px;
      border: 1px solid rgb(117, 117, 117);
      justify-content: space-between;
      margin: 0 -1px -1px 0;
      box-sizing: content-box;
  }

  .f-card:first-child {
      border-top-left-radius: 15px;
      img{
        border-top-left-radius: 15px;
      }
  }
  .f-card:nth-child(4) {
      border-top-right-radius: 15px;
      img{
        border-top-right-radius: 15px;
      }
  }
  .f-card:nth-child(9) {
      border-bottom-left-radius: 15px;
      img{
        border-bottom-left-radius: 15px;
      }
  }
  .f-card:last-child {
    border-bottom-right-radius: 15px;
    img{
      border-bottom-right-radius: 15px;
    }
}






  .f-card__img{
      padding: 0 !important;
  }
  .f-card__img img{
      max-width: 100%;
      height: 100%;

  }
  .f-card__header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
  }
  .f-card__num {
  }
  .f-card__svg svg{
      max-width: 100%;
      max-height: 13vw;
  }
  .f-card__text {
    height: 105px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    p{
      color: var(--main-font);
      font-family: "Manrope", sans-serif;
      font-size: clamp(16px, 1.4vw, 24px);
      font-weight: 600;
      line-height: 110%;

    }
    .f-card__text--short{
      width: 80%;
    }

      span{
          color: var(--contrast-color);
      }
  }

}

@media (max-width:1180px) {
  .function{
      .function__cards {
          grid-template-columns: 1fr 1fr 1fr;
      }
      .f-card {
          height: 30vw;
          box-sizing: border-box;
      }


      .f-card:nth-child(4) {
          border-top-right-radius: 0px;
          img{
            border-top-right-radius: 0px;
          }
      }
      .f-card:nth-child(9) {
          border-bottom-left-radius: 0px;
          img{
            border-bottom-left-radius: 0px;
          }
      }


        .f-card:nth-child(3) {
          border-top-right-radius: 15px;
          img{
            border-top-right-radius: 15px;
          }
        }
        .f-card:nth-child(10) {
            border-bottom-left-radius: 15px;
            img{
              border-bottom-left-radius: 15px;
            }
        }

        .f-card__text {
          height: 40px
        }

  }





  }


@media (max-width:820px) {
  .function{
    margin-top: 150px;
      .function__cards {
          grid-template-columns: 1fr 1fr;
      }
      .f-card {
          height: 50vw;
      }


      .f-card:nth-child(3) {
        border-top-right-radius: 0px;
        img{
          border-top-right-radius: 0px;
        }
    }
    .f-card:nth-child(10) {
        border-bottom-left-radius: 0px;
        img{
          border-bottom-left-radius: 0px;
        }
    }


      .f-card:nth-child(2) {
        border-top-right-radius: 15px;
        img{
          border-top-right-radius: 15px;
        }
      }
      .f-card:nth-child(11) {
          border-bottom-left-radius: 15px;
          img{
            border-bottom-left-radius: 15px;
          }
      }









  }
}

@media (max-width:490px) {
  .function{
    margin-top: 80px;
      .function__cards {
          grid-template-columns: 1fr;
      }
      .f-card {
          height: 100vw;
      }
      .f-card__svg svg{
          max-width: 100%;
          max-height: 40vw;
      }

      .f-card:nth-child(2) {
        border-top-right-radius: 0px;
        img{
          border-top-right-radius: 0px;
        }
    }
    .f-card:nth-child(11) {
        border-bottom-left-radius: 0px;
        img{
          border-bottom-left-radius: 0px;
        }
    }

    .f-card:first-child {
      border-top-right-radius: 15px;
      img{
        border-top-right-radius: 15px;
      }
  }

  .f-card:last-child {
    border-bottom-left-radius: 15px;
    img{
      border-bottom-left-radius: 15px;
    }
}




  }
}
