.languages {
}

.languages__title{
  font-size: clamp(24px, 4.6vw, 96px);
}

.languages__wrappper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

}
.languages__cards {
  margin-top: clamp(30px, 2.5vw, 76px);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.languages__card {
  background-color: var(--third-dark-color);
  padding: 30px;
  border-radius: 15px;

}
.card-lang {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;

}
.card-lang__img {
}
.card-lang__info {
  display: grid;
  gap: 15px;
}
.card-lang__title {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 2vw, 24px);
  line-height: 1.25;
  color: var(--main-color);
}
.card-lang__description {
  color: var(--second-light-color);

}

.card-lang_more-link {
  cursor: pointer;
  display: flex;
  gap: 5px;
  border-bottom: 2px solid var(--contrast-color);
  width: fit-content;

}

.card-lang__text-more {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin: 0 auto;
  color: var(--second-light-color);
  font-weight: 300;

}
.card-lang__text-more ul {
  list-style: disc;
  padding-left: 20px;
}
.card-lang{
  transition: 0.5s ease;
  border: 1px solid transparent;

}
.card-lang.active{
  transition: 0.5s ease;
  border: 1px solid var(--main-font);

}


.card-lang__item.active .card-lang__text-more {
  grid-template-rows: 1fr;
  height: 100%;
  transition: all 0.3s ease 0s;
  margin-top: 30px;

}
.card-lang__item.active .card-lang_more-link svg{
  transition: 1s ease;
  transform: rotate(90deg);
}

.card-lang__item .card-lang_more-link svg{
  transition: 1s ease;

}
@media (max-width:1024px) {
  .languages__card {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}


@media (max-width:768px) {
  .languages {
    .item-tabs-base__btns{
      display: none;
    }
  }
  .languages__wrappper {
    grid-template-columns: 1fr;
  }
}
