.photo-items {
margin: 120px 0 150px 0;}
.photo-items__wrapper {
    position: relative;
}
.swiper {
    width: 100%;
    height: 800px;
    padding-top: 100px;
}
.photo-items__wrapper{
//   height: 900px;

}

.swiper-slide{
  width: fit-content;
}


.photo-items__header {
  @include header-line;
  margin-bottom: 62px;
}
.photo-items__title {
}

.photo-items__btns {
    display: flex;
    gap: 20px;
    top: 120px;
    right: 230px;
    position: absolute;
}
.swiper-button-prev {
}
.square__btn{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.swiper-button-next {
    // left: 80px;
}
.swiper__wrapper {
}
.photo-items__cards {
    display: flex;
    gap: 50px;
    margin-left: 15px;
    padding-left: calc((100% - 1760px) / 2);
}
.photo-items__card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: #525252;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}
.card-photo-items {


}

.card-photo-items__img{
    max-width: 100%;
}
.card-photo-items__texts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-photo-items__name {
    color: var(--main-font);
    font-family: 'Manrope', serif;
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.72px;
    margin-top: 10px;
}
.square__btn {
  width: 60px !important;
  height: 60px !important;
  border-radius: 5px;
}

.photo-items-next{
  left: 80px !important;
}


@media (max-width:930px) {
.photo-items .photo-items__btns {
    left: 0;
    bottom: -510px;
}

}
@media (max-width:450px) {
.photo-items {
    margin: 75px 0;}
    .photo-items__btns {
        display: none;
    }
    .photo-items__header{
        margin-bottom: 20px;
    }
    .swiper {
        width: 100%;
        height: 600px;
        padding-top: 100px;
    }
}

