.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--main-background);
  z-index: 100;
  transition: all 1s ease 0s;
  opacity: 1;
  visibility: visible;
  .loader {
    position: absolute;
    right: 10%;
    top: 5%;
    color: var(--main-font);
    font-family: "Geologica", serif;
    font-size: clamp(76px, 2vw, 128px);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 2.56px;
    text-transform: uppercase;
  }
  .progress-bar {
    position: absolute;
    top: 150px;
    width: 90%;
    height: 6px;
    background: var(--sixth-dark-color);
    border-radius: 15px;
    left: 5%;
  }
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-font);
    height: 6px;
    border-radius: 15px;
  }
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.preloader-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
