.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--main-background);
  z-index: 9999999;
  transition: all 1s ease 0s;
  opacity: 1;
  visibility: visible;
  .loader {
    position: absolute;
    right: 10%;
    top: 5%;
    color: var(--main-font);
    font-family: "Geologica", serif;
    font-size: clamp(76px, 2vw, 128px);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 2.56px;
    text-transform: uppercase;
  }
  .progress-bar {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 6px;
    background: var(--sixth-dark-color);
    border-radius: 15px;
  }
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-font);
    height: 6px;
    border-radius: 15px;
  }
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}
.preloader-logo{
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
.preloader-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-top: 70px;
}
.preloader-num {
  border-radius: 50%;
  border: 1px solid var(--main-font);
  font-family: 'Geologica', sans-serif;
  font-size: clamp(18px, 1.6vw, 36px);
  font-weight: 600;
  line-height: 1.1;
  padding: clamp(10px, 2vw, 20px);
}
.preloader-name {
  font-family: 'Geologica', sans-serif;
  font-size: clamp(28px, 6vw, 102px);
  font-weight: 600;
  line-height: 1.1;

}
