

.project {

  margin: 175px 0;
  .project__wrapper {
      display: flex;
      flex-direction: column;

  }
  .project__header {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 10px;
      margin-bottom: -10px;
  }
  .project__title {
  }
  .project__nav {

  }
  .nav-project {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
  }
  .nav-project__item {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--main-font);
      border-radius: 100px;
      height: fit-content;
      padding: 12px 20px;
      cursor: pointer;
      -moz-user-select: -moz-none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      color: var(--main-font);
      font-family: 'Geologica', serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.1;
  }
  .nav-project__item.is-active {
      color: var(--contrast-color);
      border: 1px solid var(--contrast-color);
  }
  .project__body {
      display: none;
      position: relative;
  }
  .project__body.is-active {
      display: flex;
      flex-direction: column;
  }
  .project__item {
      margin-top: clamp(30px, 3.5vw, 60px);
      border-top: 1px solid var(--main-font);
      padding-top: clamp(35px, 4vw, 71px);
  }
  .tab-project {
      display: flex;
      gap: clamp(35px, 3vw, 95px);
  }
  .project__left {
      display: flex;
      flex-direction: column;
      gap: clamp(20px, 3vw, 30px);
      max-width: 505px;
  }

  .tab-project__title {
      color: var(--main-font);
      font-family: 'Manrope', sans-serif;
      font-size: clamp(22px, 2vw, 36px);
      font-weight: 600;
      line-height: 1.1;

  }
  .tab-project__text {
      color: var(--main-font);
      font-family: 'Manrope', sans-serif;
      font-size: clamp(14px, 1.6vw, 20px);
      font-weight: 300;
      line-height: 1.4;
      color: rgb(255, 255, 255);
  }

  .tab-project__btn {
      color: #404040;
      font-family: 'Manrope', sans-serif;
      font-size: clamp(14px, 1.6vw, 20px);
      font-weight: 600;
      text-transform: uppercase;
      display: flex;
      width: clamp(200px, 17vw, 260px);
      padding: 0px 30px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      text-align: center;
      white-space: nowrap;
      line-height: 1.1;
      padding-top: clamp(15px, 2vw, 24px);
      padding-bottom: clamp(15px, 2vw, 24px);
  }

  .tab-project__svg {
    display: block;
    max-width: 228px;
    margin-top: auto;
    margin-left: auto;
}
  .project__right {
  }
  .project__img {
      max-width: 1160px;
  }


}

@media (max-width:1500px) {

  .project {
      .tab-project__svg {
        display: none;
  }
}
}

@media (max-width:768px) {

  .project {
      margin: 80px 0;
      .project__item {
          border-top: none;
      }
  }
  .tab-project{
      flex-direction: column-reverse;
  }
  .project__header {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 25px;
      border-bottom: 1px solid var(--main-font);

  }
  .nav-project {
      justify-content: center;
  }

  .project .nav-project__item {
      font-size: 12px;

  }
  .project .nav-project {
      gap: 10px;
      justify-content: stretch;
  }
}
