.services {
}

.services__wrapper {
}
.services__cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 80px;
}
.services__card {

}
.card-service {
    height: fit-content;
    padding-inline: clamp(20px, 2vw, 40px);
    padding-block: clamp(20px, 2vw, 30px);
    border-radius: clamp(15px, 2vw, 30px);
    background-color: var(--third-dark-color);
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.card-service__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-service__title {

    font-family: 'Geologica', sans-serif;
    font-size: clamp(20px, 6.4vw, 40px);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;

}
.card-service__description {

    max-width: 450px;
}
.card-service__links {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;


}
.card-service__link {
    text-decoration: underline;

}
.card-service__more {
    margin-top: 46px;
    border-bottom: 1px solid var(--contrast-color);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
}
.card-service__more-link {

}
.card-service__img{
    margin-top: -100px;
    max-width: 300px;
}

.card-service-3 ul{
    width: 130%;
}

.card-service-4{
    margin-top: -40px;
    ul{
        width: 140%;

    }
}

.card-service-5 {
    ul{
        width: 136%;
        margin-top: 32px;
    }

}
.card-service-6 ul{
    width: 115%;
}
@media (max-width:1024px) {
    .services__cards {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
    .card-service-3, .card-service-4, .card-service-5, .card-service-6 {
        margin-top: 0;
        ul{
            width: 100%;
            margin-top: 0;
        }
    }
    .card-service__links {
        width: 140% !important;
        row-gap: 10px;
        column-gap: 10px;

    }
    .card-service__more {
        margin-top: 10px;

    }

}
@media (max-width:530px){
    .card-service__img{
        margin-top: -70px;

    }

    .card-service__links {
        width: 130% !important;
        row-gap: 10px;
        column-gap: 10px;

    }
    .card-service__description{
      width: 150%;
    }
}
