.vacancy{

}

.vacancys__wrapper {
}
.vacancys__cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 60px;
}
.case-name__wrapper--vacancys{
  border-bottom: none;
}
.vacancys__card {

}
.card-vacancy {
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--main-font);
    padding-bottom: clamp(15px, 2vw, 24px);
    height: 100%;
}

.card-vacancy__header{
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card-vacancy__title {
    font-family: 'Geologica', sans-serif;
    font-size: clamp(20px, 6.4vw, 40px);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;

}
.card-vacancy__price {
  font-family: 'Geologica', sans-serif;
  font-size: clamp(18px, 6.4vw, 32px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;

}
.card-vacancy__description {
    // grid-area: desc;
    // font-family: 'Manrope', sans-serif;
    // font-size: clamp(14px, 1.7vw, 20px);
    // font-weight: 400;
    // line-height: 1.4;
    max-width: 90%;
    // padding-block: 20px 25px;
    padding-top: clamp(0px, 2vw, 20px);
    padding-top: clamp(0px, 2vw, 25px);

}

.card-vacancy__more {
    width: fit-content;

    padding-block: clamp(25px, 5vw, 70px);
    padding-top: auto;
    // display: flex;
    // align-items: center;
    // gap: 15px;
    margin-top: auto;

}
.card-vacancy__more-link {
    padding-block: clamp(14.5px, 2vw, 24px);
    padding-inline: clamp(25px, 3vw, 48px);
    white-space: nowrap;
    border-radius: 8px;
    color: var(--fourth-dark-color);
    margin-bottom: 24px;
}


@media (max-width:1024px) {
    .vacancys__cards {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
    .card-vacancy-3, .card-vacancy-4, .card-vacancy-5, .card-vacancy-6 {
        margin-top: 0;
        ul{
            width: 100%;
            margin-top: 0;
        }
    }
    .card-vacancy__links {
        width: 140% !important;
        row-gap: 10px;
        column-gap: 10px;

    }
    .card-vacancy__more {
        margin-top: 10px;

    }

}
@media (max-width:768px){
  .card-vacancy__header{
    flex-direction: column;
    align-items: start;
    gap: 19px;
  }
}
