.year{
  margin-top: 70px;
  .year__body--design{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
  }
  .year__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      .year__left {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .year__text-p{
              font-size: 16px;
              color: #E2E2E2;
              font-family: "Manrope", sans-serif;
              line-height: 1.4;
              max-width: 60%;
          }

          .year__info{
              display: flex;
              gap: 44px;
              display: grid;
              grid-template-areas:
              'a b b b'
              'a c c c'
              ;
          }
          .year__text {
            grid-area: a;
            -webkit-text-stroke: 2px #FFF;
             writing-mode: vertical-lr;
             white-space: nowrap;

         }
          .year__title {
              grid-area: b;
              white-space: nowrap;
              font-size: clamp(24px, 4vw, 72px);
          }

          .year__btn {
              grid-area: c;
              // margin-top: -100px;
              // margin-left: 160px;
              display: flex;
              justify-content: center;
              align-items: center;
              white-space: nowrap;
              color: #404040;
              font-family: 'Manrope', sans-serif;
              font-size: 20px;
              font-size: clamp(14px, 1.6vw, 20px);
              font-weight: 600;
              line-height: 1.1;
              width: clamp(200px, 17vw, 260px);
              text-align: center;
              text-transform: uppercase;
              padding-top: clamp(15px, 2vw, 24px);
              padding-bottom: clamp(15px, 2vw, 24px);
              border-radius: 8px;
          }
          .year__info--design{
            margin-top: -325px;
            margin-left: 150px;
              display: flex;
              flex-direction: column;
              gap: 25px;
          }
          .year__title--design{
            font-size: clamp(24px, 4vw, 64px);
          }
      }

      .year__right {
          position: relative;
          margin-right: 25px;
          opacity: 0.7;
          .year__img {
              width: clamp(300px, 50vw, 100%);
              background: radial-gradient(farthest-side, #B62AE890, transparent);
          }
          .year__img--design{
              // margin-left: -10%;
              margin-top: 80px;
              margin-left: -22%;
              width: 180%;

          }
          .year__img img{
            margin-top: 15px;
            margin-left: 5px;

          }
          .year__background-title {
              position: absolute;
              z-index: -1;
              top: 18%;
              left: 0;
              @include background-text;
              font-size: clamp(14px, 4.5vw, 64px);
              white-space: nowrap;
              display: flex;
              flex-direction: column;
              gap: 33px;
          }
          .year__margin{
              margin-left: -9vw;
          }

      }
      .year__right--design{
        opacity: 1;
      }
  }
}
.year--design{
  margin-top: -30px;
}
@media (max-width:1024px) {
  .year__body--design{
      flex-direction: column;
  }
  .year{
    .year__body{
      flex-direction: column;
      align-items: center;
      gap: 13px;
      .year__right{
        .year__img--design {
          margin-inline: auto;
          margin-top: -10px;
          max-width: 70%;
        }


    }
      .year__left{
      gap: 20px;

        .year__btn {

        }
        .year__title {
          white-space: wrap;
        }
        .year__text{
          writing-mode: horizontal-tb;
          font-size: 40px;

        }
        .year__info{
            grid-template-areas:
            'a'
            'b'
            'c'
            ;
            justify-items: center;
            gap: 16px;
            br{
              display: none;
            }
        }

        .year__info--design {
          margin-top: 0px;
          margin-left: 0px;
        }
      }
    }

  }


  .year--design{
    margin-top: 100px;
  }
  .year__text--design{
    display: none;
  }
  .year__title--design{
    display: none;
  }
  .year__text-mobile{
    -webkit-text-stroke: 1px var(--main-font);
    span{
      font-size: 100% - 20%;
    }
  }
  .year__title--design-mobile{
    margin-top: -10px;
    font-size: clamp(24px, 3vw, 48px);
  }

}

@media (min-width:1025px) {
  .year__text-mobile{
    display: none;
  }
  .year__title--design-mobile{
    display: none;
  }
}





@media (max-width:768px) {
  .year{
    margin-top: 270px;
  }
  .year--design{
    margin-top: 80px;
  }

}
@media (max-width:600px){
  .year .year__body .year__right .year__img--design {
    margin-inline: auto;
    margin-top: -10px;
    max-width: 80%;
  }


}


@media (max-width:450px) {



  .year .year__body  .year__right{
      margin-top: -10px;
      margin-left: 40px;
  }


  .year .year__body .year__right  .year__background-title {
      font-size: 34px;
  }
  .year .year__body .year__right  .year__img {
      margin-top: 20%;
  }
  .year .year__body .year__left .year__text-p {
    max-width: 100%;
  }


  .year .year__body .year__right .year__img--design {
    margin-inline: auto;
    margin-top: -10px;
    max-width: 100%;
  }






}


