
<div
class="info info--analitics _anim-items _anim-no-hide _anim-fade-in-down"
>
<div class="container">
  <div class="info__body">
    <div class="info__top">
      <div class="info__header awcw__header">
        <h2 class="info__title title-h2 awcw__title">
          Также мы готовы взяться <br />
          за реализацию работ
        </h2>
        <p class="info__text">которые пропишем в ТЗ, например:</p>
      </div>

      <div class="info__img info__img--analitics awcw__img">
        <img src="/img/an3.png" alt="" />



        <div class="info__back-text background-text">
          <p style="margin-left: -5%; margin-top: 65%">MARKETING</p>
          <p style="margin-left: 92%; margin-top: -10%">ANalytics</p>
          <p style="margin-left: 13%; margin-top: -10%">UI/UX</p>
        </div>
      </div>
    </div>

    <div class="info__cards awcw__cards">
      <div class="info__card card-info card-info--analitics">
        <div class="card-info__svg">
          <svg
            width="60"
            height="60"
            viewBox="0 0 60 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="30"
              cy="30"
              r="29"
              stroke="#B8FF20"
              stroke-width="2"
            />
            <g transform="translate(10,15)">
              <path
                d="M37 1L15 28.5L1 15.5"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </g>
          </svg>
        </div>
        <p class="info__card-text">
          Исправление кода на сайте, <br />
          устранение проблем безопасности, чистку от вирусов,
        </p>
      </div>
      <div class="info__card card-info card-info--analitics">
        <div class="card-info__svg">
          <svg
            width="96"
            height="72"
            viewBox="0 0 96 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 18C1 8.61116 8.61116 1 18 1H47V35H18C8.61116 35 1 27.3888 1 18Z"
              stroke="#B8FF20"
              stroke-width="2"
            />
            <path
              d="M95 54C95 44.6112 87.3888 37 78 37H49V71H78C87.3888 71 95 63.3888 95 54Z"
              stroke="#B8FF20"
              stroke-width="2"
            />
          </svg>
        </div>
        <p class="info__card-text">
          Донастройку рекламных <br />
          кампаний и устранение <br />
          ошибок,
        </p>
      </div>
      <div class="info__card card-info card-info--analitics">
        <div class="card-info__svg card-info__svg--col">
          <svg
            width="85"
            height="69"
            viewBox="0 0 85 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="15"
              y="1"
              width="56"
              height="25"
              rx="12.5"
              stroke="#B8FF20"
              stroke-width="2"
            />
            <rect
              x="1"
              y="43"
              width="83"
              height="25"
              rx="12.5"
              stroke="#B8FF20"
              stroke-width="2"
            />
          </svg>
        </div>
        <p class="info__card-text">
          Доработки юзабилити сайта, на основе первоначального анализа
          и статистики действий пользователя
        </p>
      </div>
    </div>
  </div>
</div>
</div>
