<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__logo logo">
          <img src="/img/Logo.svg" alt="" />
        </div>
      </div>
      <div class="footer__center">
        <div class="footer__list">
          <a href="" class="footer__link"> Услуги </a>
          <a href="" class="footer__link"> Кейсы </a>
          <a href="" class="footer__link"> Блог </a>
          <a href="" class="footer__link"> Контакты </a>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__phone">
          <a href="tel:74954093216" class="footer__link footer__link-phone">
            +7 (495) 409-32-16
          </a>
          <a href="tel:78463132320" class="footer__link footer__link-phone">
            +7 (846) 313-23-20
          </a>
        </div>
      </div>
    </div>
    <a href="" class="footer__akticom"> © 2009–2023, Akticom </a>
  </div>
</footer>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
