<div class="preloader" id="page-preloader">

  <a href="/index.html" class="header__logo logo" style="position: absolute; right: 90px; top:50px;">
    <img src="/img/Logo.svg" alt="">
  </a>
  <div class="progress-bar">
      <span class="progress" id="progress">

      </span>
  </div>
  <div class="container">
    <div class="preloader-info">
      <p class="preloader-num" id="preloader-num">
        01
      </p>
      <div class="preloader-name" id="preloader-name">
        Разработка
      </div>
    </div>
  </div>


  <!-- <div class="loader">
    <span id="load_perc">
        0%
    </span>
  </div> -->
</div>
