<div class="preloader" id="page-preloader">




  <div class="container">
    <a href="/index.html" class="header__logo logo preloader-logo">
      <img src="/img/Logo.svg" alt="">
    </a>


    <div class="progress-bar">
      <span class="progress" id="progress">

      </span>
  </div>


    <div class="preloader-info">
      <p class="preloader-num" id="preloader-num">
        01
      </p>
      <div class="preloader-name" id="preloader-name">
        Разработка
      </div>
    </div>
  </div>


</div>
