<div class="project">
  <div class="container">
    <div class="project__wrapper">
      <div class="project__header">
        <h2
          class="project__title title-h2 _anim-items _anim-no-hide _anim-fade-in-left"
        >
          проекты
        </h2>
        <nav
          class="project__nav nav-project _anim-items _anim-no-hide _anim-fade-in-right"
        >
          <div
            class="nav-project__item is-active"
            data-tab-name="project-tab-1"
          >
            SEO
          </div>
          <div class="nav-project__item" data-tab-name="project-tab-2">
            Development
          </div>
          <div class="nav-project__item" data-tab-name="project-tab-3">
            Mobile
          </div>
          <div class="nav-project__item" data-tab-name="project-tab-4">
            Marketing
          </div>
          <div class="nav-project__item" data-tab-name="project-tab-5">
            Support
          </div>
        </nav>
      </div>

      <div class="project__body project-tab-1 is-active">
        <div class="project__item tab-project">
          <div
            class="project__left _anim-items _anim-no-hide _anim-fade-in-left"
          >
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div
            class="project__right _anim-items _anim-no-hide _anim-fade-in-right"
          >
            <div class="project__img">
              <img src="/img/krepco.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div
            class="project__left _anim-items _anim-no-hide _anim-fade-in-left"
          >
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div
            class="project__right _anim-items _anim-no-hide _anim-fade-in-right"
          >
            <div class="project__img">
              <img src="/img/basis.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div
            class="project__left _anim-items _anim-no-hide _anim-fade-in-left"
          >
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div
            class="project__right _anim-items _anim-no-hide _anim-fade-in-right"
          >
            <div class="project__img">
              <img src="/img/apteka.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="project__body project-tab-2">
        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/krepco.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/apteka.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="project__body project-tab-3">
        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/krepco.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/basis.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/apteka.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="project__body project-tab-4">
        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/basis.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/krepco.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/apteka.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="project__body project-tab-5">
        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/krepco.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/apteka.png" alt="" />
            </div>
          </div>
        </div>

        <div class="project__item tab-project">
          <div class="project__left">
            <h3 class="tab-project__title">Название проекта</h3>
            <p class="tab-project__text">
              Краткое описание проекта в несколько срок, возможно с буллетами о
              статистике достижений
            </p>
            <a href="" class="green-btn tab-project__btn"> Посмотреть кейс </a>
            <div class="tab-project__svg">
              <svg
                width="228"
                height="228"
                viewBox="0 0 228 228"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect x="114" width="114" height="114" fill="#151515" />
                <path d="M228 114V228H114L228 114Z" fill="#151515" />
                <rect y="114" width="114" height="114" fill="#151515" />
              </svg>
            </div>
          </div>
          <div class="project__right">
            <div class="project__img">
              <img src="/img/basis.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
