
<div
class="phw _anim-items _anim-no-hide _anim-fade-in-down"
>
<div class="container">
  <div class="phw__wrapper">
    <div class="phw__top">
      <div class="phw__img">
        <img class="sub" src="/img/tablet.png" alt="" />
      </div>

      <div class="phw__header">
        <div class="phw__view">
          Комплексный подход к решению задачи
        </div>
        <h2 class="phw__title title-h2">КАК МЫ РАБОТАЕМ</h2>
        <p class="phw__text">
          Лучшая мотивация - когда наша работа приносит вам
          максимальную прибыль.
        </p>
      </div>
    </div>



    <div class="phw__cards-4">
      <div class="phw__card ">
        <div class="card-phw__svg">
          <svg
            width="53.000000"
            height="68.000000"
            viewBox="0 0 53 68"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g filter="url(#filter_708_1138_dd)" />
            <ellipse
              id="Ellipse 53"
              cx="19.000000"
              cy="30.000000"
              rx="14.000000"
              ry="29.000000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
            <g filter="url(#filter_735_739_dd)" />
            <ellipse
              id="Ellipse 54"
              cx="34.000000"
              cy="30.000000"
              rx="14.000000"
              ry="29.000000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
          </svg>
        </div>
        <p class="phw__card-text">
          Используем только белые методы продвижения
        </p>
      </div>

      <div class="phw__card ">
        <div class="card-phw__svg">
          <svg
            width="60.000000"
            height="44.000000"
            viewBox="0 0 60 44"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <ellipse
              id="Ellipse 54"
              cx="30.000000"
              cy="30.500000"
              rx="29.000000"
              ry="12.500000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
            <ellipse
              id="Ellipse 53"
              cx="30.000000"
              cy="13.500000"
              rx="29.000000"
              ry="12.500000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
          </svg>
        </div>
        <p class="phw__card-text">
          Предлагаем решения на основе своего опыта и аналитики
        </p>
      </div>

      <div class="phw__card ">
        <div class="card-phw__svg card-phw__svg--col">
          <svg
            width="63.660156"
            height="43.000122"
            viewBox="0 0 63.6602 43.0001"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <rect
              id="Rectangle 882"
              x="1.000000"
              y="1.000122"
              width="41.000000"
              height="41.000000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
            <rect
              id="Rectangle 883"
              x="22.414062"
              y="21.330444"
              width="28.165804"
              height="28.165804"
              transform="rotate(-45 22.414062 21.330444)"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
          </svg>
        </div>
        <p class="phw__card-text">
          Одинаково работаем как с маленькими сайтами, так и с
          гигантами e-commerce
        </p>
      </div>

      <div class="phw__card ">
        <div class="card-phw__svg card-phw__svg--col">
          <svg
            width="60.000000"
            height="60.000000"
            viewBox="0 0 60 60"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <circle
              id="Ellipse 53"
              cx="30.000000"
              cy="30.000000"
              r="29.000000"
              stroke="#B8FF20"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
            />
          </svg>
        </div>
        <p class="phw__card-text">Следуем плану продвижения</p>
      </div>
    </div>
  </div>
</div>
</div>
