<div class="team _anim-items _anim-no-hide _anim-fade-in-center">
  <div class="team__body swiper _anim-items _anim-no-hide _anim-fade-in-left">
    <div class="container">
      <div class="team__header">
        <h2 class="team__title title-h2">Команда</h2>
        <div class="team__btns">
          <div class="swiper-button-prev team-prev green-btn square__btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
            >
              <path
                d="M0.327979 7.25611C0.117935 7.45369 0 7.72122 0 8.00011C0 8.279 0.117935 8.54653 0.327979 8.74411L7.87838 15.8198C7.93935 15.8769 8.01173 15.9222 8.09139 15.9532C8.17105 15.9841 8.25643 16 8.34265 16C8.42887 16 8.51425 15.9841 8.59391 15.9532C8.67357 15.9222 8.74595 15.8769 8.80691 15.8198C8.93005 15.7044 8.99922 15.5479 8.99922 15.3847C8.99922 15.3039 8.98224 15.2239 8.94924 15.1492C8.91625 15.0746 8.86788 15.0068 8.80691 14.9496L1.39113 8.00011L8.80691 1.05058C8.86811 0.993567 8.91667 0.925776 8.9498 0.85111C8.98294 0.776443 9 0.696374 9 0.615508C9 0.534641 8.98294 0.454572 8.9498 0.379906C8.91667 0.30524 8.86811 0.237449 8.80691 0.180431C8.74598 0.123235 8.67362 0.077857 8.59395 0.046896C8.51429 0.0159359 8.42889 0 8.34265 0C8.25641 0 8.17101 0.0159359 8.09135 0.046896C8.01168 0.077857 7.93931 0.123235 7.87838 0.180431L0.327979 7.25611Z"
                fill="#5B12B9"
              />
            </svg>
          </div>
          <div class="swiper-button-next team-next green-btn square__btn">
            <svg
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.67202 7.25611C8.88206 7.45369 9 7.72122 9 8.00011C9 8.279 8.88206 8.54653 8.67202 8.74411L1.12162 15.8198C1.06065 15.8769 0.98827 15.9222 0.90861 15.9532C0.828952 15.9841 0.743573 16 0.657351 16C0.571129 16 0.48575 15.9841 0.406091 15.9532C0.326432 15.9222 0.254054 15.8769 0.193086 15.8198C0.0699549 15.7044 0.000779152 15.5479 0.000779152 15.3847C0.000779152 15.3039 0.0177603 15.2239 0.0507565 15.1492C0.0837526 15.0746 0.132117 15.0068 0.193086 14.9496L7.60887 8.00011L0.193086 1.05058C0.131894 0.993567 0.0833321 0.925776 0.0501957 0.85111C0.0170593 0.776443 0 0.696374 0 0.615508C0 0.534641 0.0170593 0.454572 0.0501957 0.379906C0.0833321 0.30524 0.131894 0.237449 0.193086 0.180431C0.254017 0.123235 0.326385 0.077857 0.406049 0.046896C0.485712 0.0159359 0.571109 0 0.657351 0C0.743594 0 0.82899 0.0159359 0.908654 0.046896C0.988318 0.077857 1.06069 0.123235 1.12162 0.180431L8.67202 7.25611Z"
                fill="#5B12B9"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-wrapper team__cards">
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/nikita.png" alt="" />
          </div>
          <h5 class="card-team__name">Никита Дмитриев</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="team__card card-team">
          <div class="card-team__img">
            <img src="/img/vitalii.png" alt="" />
          </div>
          <h5 class="card-team__name">Виталий Колготин</h5>
          <p class="card-team__post">Основатель</p>
        </div>
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>
</div>
