
<h1 class="item-tabs-base__main-text">
    <span id="typed">

    </span>
</h1>


<div id="typed-strings">
    <span></span>
    <span>Решаем Всё</span>
     <span>Решаем любые </br> dIGITAL-ЗАДАЧИ</span>
</div>

<script>
  let typed =new Typed('#typed', {
      typeSpeed: 200,
      backSpeed: 100,
      startDelay: 100,
      loop: false,
      stringsElement: '#typed-strings',
  })
</script>
<style>
    h1{
        display: inline;
        color: var(--main-font);
        font-family: 'Geologica', sans-serif;
        font-size: clamp(28px, 6vw, 102px);
        font-weight: 600;
        line-height: 1.1;
        text-transform: uppercase;
        z-index: 5;
        white-space: nowrap;
    }
    #typed-strings span{
        display: inline;
    }
</style>
