// @include font-face("Muller", "../fonts/MullerRegular", 400, normal);
@font-face {
  font-family: Geologica;
  font-weight: 500;
  src: url(/font/Geologica-Medium.ttf);
}
@font-face {
  font-family: Geologica;
  font-weight: 400;
  src: url(/font/Geologica-Regular.ttf);
}
@font-face {
  font-family: Geologica;
  font-weight: 600;
  src: url(/font/Geologica-SemiBold.ttf);
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  src: url(/font/Manrope-Bold.ttf);
}
@font-face {
  font-family: Manrope;
  font-weight: 300;
  src: url(/font/Manrope-Light.ttf);
}
@font-face {
  font-family: Manrope;
  font-weight: 500;
  src: url(/font/Manrope-Medium.ttf);
}
@font-face {
  font-family: Manrope;
  font-weight: 400;
  src: url(/font/Manrope-Regular.ttf);
}
@font-face {
  font-family: Manrope;
  font-weight: 600;
  src: url(/font/Manrope-SemiBold.ttf);
}
